%div<
  %div= ticket.name
  %div= link_to 'Show', project_ticket_path(@project, ticket)
  %div= link_to 'Edit', edit_project_ticket_path(@project, ticket)
  %div= link_to 'Destroy', project_ticket_path(@project, ticket), method: :delete
%hr
