- content_for(:title) { 'Edit Ticket' }

%div= link_to 'Back', project_path(@ticket.project)
%hr

%div #{@ticket.project.name}
%hr

= render partial: 'form', locals: {project: @ticket.project, ticket: @ticket}
