- content_for(:title) { @ticket.name }
- content_for(:subtitle) { @ticket.description }

%div Created by: #{@ticket.author.full_name}
%hr
- if @ticket.comments.persisted.any?
  %div<
    = render @ticket.comments.persisted
%div<
  = render 'comments/form', ticket: @ticket, comment: @comment
