- content_for(:title) { 'Confirm your new email' }

= form_for(resource, url: user_reconfirmation_path, method: :post) do |f|
  - if resource.pending_reconfirmation?
    %div New email awaiting confirmation: #{resource.unconfirmed_email}
  %div= f.submit 'Send confirmation instructions'
